html {
    font-family: Arial,sans-serif;
}

.ui-grid-row {
    padding-bottom: 10px;
}

.fa {
    line-height: inherit !important;
}

.login, .register {
    margin-left: 40px;
    margin-right: 40px;

}
.login div, .register div {
    text-align: right;
}

.login input, .register input {
    width: 90%
}

.register {
    position: relative;
}

fieldset.full-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.ui-growl {
    top: 50px;
}

.projects {

}

.projects .project {
    float: left;
    margin-right: 20px;
    width: 656px;
}

.projects .project .task {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;
    color: black;
}

.task .title {
    float: left;
    padding: 10px;
    font-weight: bold;
}

.task .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 10px;
    display: none;
}

.task:hover .controls {
    display: block;
}

.task.size_4 {
    width: 326px;
    height: 326px;
}

.task.size_2 {
    width: 162px;
    height: 162px;
}

.task.size_1 {
    width: 80px;
    height: 80px;
}

.task.size_4 .title {
    font-size: 24px;
}

.task.size_2 .title {
    font-size: 18px;
}

.task.size_1 .title {
    font-size: 10px;
}
