html {
    font-family: Arial,sans-serif;
}

.ui-grid-row {
    padding-bottom: 10px;
}

.fa {
    line-height: inherit !important;
}

.login, .register {
    margin-left: 40px;
    margin-right: 40px;

}
.login div, .register div {
    text-align: right;
}

.login input, .register input {
    width: 90%
}

.register {
    position: relative;
}

fieldset.full-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.center {
    text-align: center;
}